@model WebApplication2.Models.WeeklyTimeSwitchCompositeViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Harmonogram Nawadniania</title>
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <div class="container">
        <h2>Harmonogram Nawadniania</h2>

        @{
            var sections = new[] { Model.Section0, Model.Section1, Model.Section2, Model.Section3, Model.Section4, Model.Section5, Model.Section6 };
        }
        @foreach (var section in sections)
        {
            <div class="section">
                <h3>Section @Array.IndexOf(sections, section)</h3>

                <table class="table">
                    <thead>
                        <tr>
                            <th>Enabled</th>
                            <th>Sunday</th>
                            <th>Monday</th>
                            <th>Tuesday</th>
                            <th>Wednesday</th>
                            <th>Thursday</th>
                            <th>Friday</th>
                            <th>Saturday</th>
                            <th>Time On</th>
                            <th>Time Off</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in section)
                        {
                            <tr>
                                <td>@item.bEnable</td>
                                <td>@item.bSunday</td>
                                <td>@item.bMonday</td>
                                <td>@item.bTuesday</td>
                                <td>@item.bWednesday</td>
                                <td>@item.bThursday</td>
                                <td>@item.bFriday</td>
                                <td>@item.bSaturday</td>
                                <td>@item.tTimeOn.ToString("hh\\:mm")</td>
                                <td>@item.tTimeOff.ToString("hh\\:mm")</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>

</body>
</html>